.latest-writings {
  padding: 20px;
  background-image: linear-gradient(to bottom, #fafafa -33%, #fff 167%);
}

.head-section-b4 {
  margin-top: 2rem;
  border: none;
  background-color: #FDEFF0;
  border-radius: 15px;
  color: #000247;
  font-size: 14px;
  padding: 10px 20px;
}

.latest-writings h2 {
  padding: 20px 0;
  text-align: center;
}

.tabs2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 950px;
  margin: 0 auto;
}

.tab {
  background-color: #fafafa;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #b30000;
}

.tab:nth-child(1) {
  border-radius: 20px 0 0 20px;
}

.tab:nth-child(4) {
  border-radius: 0 20px 20px 0;
}

.tab:hover,
.tab.active {
  background-color: #b30000;
  color: #fff;
}

.articles {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.article {
  width: 300px;
  background-color: #fff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.article h3 {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  margin-bottom: 10px;
}

.article p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #4A5057;
  font-weight: 300;
}

.meta {
  color: #353A40;
  font-size: 12px;
  font-weight: 600;
}
.job-card button{
  color: #B30000;
  border: none;
  font-size: 16px;
  background: none;
  font-weight: 700;
}
.job-card span{
  position: relative;
  top: 5px;
}

@media (max-width: 765px){

  .articles {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 20px;
  }
  .article{
    display: flex;
    justify-content: center; 
    flex-direction: row; 
    width: 100%;
    gap:15px;
    
  }
  .article img {
    width: 150px;
    margin-bottom: 0;
    
    
  }
  
  .article h3 {
    font-size: 16px;
   line-height: 1;
   padding: 2px;
  }
  .tabs2{
    display: flex;               
    overflow-x: auto;            
    justify-content: flex-start; 
    scroll-behavior: smooth;     
    scrollbar-width: none;       
    -ms-overflow-style: none;    
    width: 100%;                 
    white-space: nowrap;
  }

  
}