.rcs-wrap-content{
    display: flex;
    justify-content: center;
    background-image: url("../../assets/Abstract.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.hero-section-7{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    /* padding-bottom: 3rem; */
    color: white;
    position: relative;
    overflow: hidden;
    width: 1300px;
}
.content-RCS{
    max-width: 40%;
}
.content-RCS h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px;
    color: #144494;
}
.content-RCS p{
    font-size: 14px;
    line-height: 24px;
    margin-left: 2px;
    margin-bottom: 5px;
    color: #144494;
}
.rcsdetail-image{
    width: 40%;
    padding-top: 1rem;
}
.contact-us {
    background-color: white;
    color: #b30000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 4px;
}

/* card features 11 */

.feature11-wrap-container{
    display: flex;
    justify-content: center;
}
.rcs-platform-section{
    background-color: #f9f9f9;
}
.rcs-platform-header{
    text-align: center;
}
.rcs-platform-header h2{
    font-size: 32px;
    line-height: 54px;
    font-weight: 600;
    color: #454545;
    padding-top: 3rem;
}
.rcs-platform-header p{
    font-size: 15px;
    color: #353A40;
    font-family: 'DM Sans';
    line-height: 24px;
    font-weight: 400;
}
.feature11-cards-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1300px;
}
.feature11-cards-column{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 3rem;
}
.image-column-rcs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.feature11-card{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    position: relative;
    transition: transform 0.3s;
}
.feature11-card:hover{
    transform: translateY(-5px);
}
.feature11-icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0;
}
.feature11-card-content{
    display: flex;
    flex-direction: column;
}
.feature11-card h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}
.feature11-card p{
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
}
.read-more-2{
    color: #0066cc;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}
.feature11-card:hover .read-more-2{
    opacity: 1;
}
.image-column-rcs img{
    width: 382px;
}

/* feature 13 */

.feature13-wrap-container{
    display: flex;
    justify-content: center;
}

.feature13-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    justify-content: center;
    max-width: 1300px;
}

.feature13-card {
    /* background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 26%;
    min-width: 250px;
    margin-bottom: 20px;
}

/* .feature-card:nth-child(4),
.feature-card:nth-child(5) {
    width: 33%;
} */

.feature13-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0; /* Prevent the icon from shrinking */
}

.feature13-card-content {
    display: flex;
    flex-direction: column;
}

.feature13-card h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
    width: 85%;
}

.feature13-card p {
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
}

.read-more {
    color: #0066cc;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.read-more:hover {
    text-decoration: underline;
}
/* rcs-unique feature */

.rcs-unique-feature-wrap{
    display: flex;
    justify-content: center;
}
.rcs-feature-section {
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    background-color: #f9f9f9;
    width: 1300px;
}

.rcs-feature-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 3rem;
}

.rcs-feature-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
}

.rcs-feature-list li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}
.rcs-feature-list li p{
    font-size: 14px;
}
.rcs-feature-list img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.rcs-feature-list p {
    font-size: 16px;
    color: #666;
    margin: 0;
}

.rcs-feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.rcs-feature-image img {
    width: 380px;
    height: auto;
}