.faq{
    background-color: #fff;
    margin-top: 2rem;
}
.faq-accordion {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.faq-accordion h2 {
    text-align: center;
    margin-bottom: 40px;
}

.faq-item {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: max-height 0.9s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.faq-item.open {
    background-color: #ffffff;
    box-shadow: 0px 0px 7px 2px rgba(38, 113, 183, 0.1);
    transition: max-height 0.8s cubic-bezier(0.25, 0.8, 0.25, 1), padding 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.faq-question {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-radius: 5px;
}

.faq-question .faq-icon {
    margin-right: 10px;
    font-weight: bold;
}

.faq-answer {
    padding: 0px 0px 20px 60px;
    font-size: 14px;
    line-height: 24px;
    width: 840px;
}

.view-all-faqs {
    display: block;
    width: 200px;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #b30000;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.head-section-b6{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    border: none;
    background-color: #FDEFF0;
    border-radius: 15px;
    color: #000247;
    font-size: 14px;
    padding: 10px 20px;
}
@media(max-width:756px){
    .faq-answer{
        width: 325px;
    }
}
