.aboutus-wrap-content {
    display: flex;
    justify-content: center;
    background-color: #FFFAFA;
}

.hero-section-8 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    color: white;
    position: relative;
    overflow: hidden;
    width: 1300px;
}

.hero-section-8-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    color: white;
    position: relative;
    overflow: hidden;
    width: 1300px;
}

.hero-section-8-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    color: white;
    position: relative;
    overflow: hidden;
    width: 1300px;
}

.abtus-image {
    width: 40%;
}

.abtus-image-1 img {
    padding-left: 2rem;
}

.content-aboutus {
    width: 40%;
}

.content-aboutus h2 {
    color: #001F47;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 20px;
}

.content-aboutus p {
    color: #001F47;
    font-size: 14px;
    line-height: 24px;
    width: 500px;
}

.scroll-container-2 {
    position: relative;
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px 20px;
}

.scroll-boxes2 {
    display: flex;
    overflow-x: auto;
    gap: 25px;
    padding: 20px 90px;
    height: 460px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-boxes::-webkit-scrollbar {
    display: none;
}

.card2 {
    width: 280px;
    padding: 15px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 2px 7px 2px rgba(232, 115, 97, 0.2);
    transition: transform 0.3s ease;
    flex-shrink: 0;
    /* Prevent cards from shrinking */
}

.card-content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.card-content-2 img {
    padding-bottom: 1rem;
}

/* .card2:hover {
    transform: translateY(-10px);
} */

.card-content-2 h3 {
    align-self: center;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #2a2a2a;
}

.card-content-2 p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    /* Better readability */
}

.scroll-container-3 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px 20px;
}

.scroll-boxes3 {
    display: flex;
    overflow-x: auto;
    gap: 25px;
    padding: 20px 20px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* logos partner */

.logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 3rem;
}

.logo-image {
    margin: 10px;
    max-height: 60px;
    object-fit: contain;
}

.awards-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 3rem;
}

.logo-image-2 {
    margin: 10px;
    object-fit: contain;
}

.our-journey {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.our-journey h2 {
    text-align: center;
}

.timeline-container {
    position: relative;
    width: 2100px;
    padding: 200px 0;
    display: flex;
    justify-content: center;

}

.timeline {
    position: relative;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.timeline-item {
    position: relative;
    text-align: center;
    /* flex: 1; */
    padding-left: 200px;
}

.timeline-content {
    position: absolute;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.timeline-content.top {
    bottom: 100px;
    transform: translateX(-43%);
    padding-bottom: 5px;
}


.timeline-content.bottom {
    top: 100px;
    transform: translateX(-43%);
}


.timeline-node-1 {
    width: 40px;
    height: 40px;
    background-color: #FFE2E5;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.timeline-node-2 {
    width: 20px;
    height: 20px;
    background-color: #B30000;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    margin: 5px auto;
    top: 10px;
}

.timeline-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: lightgray;
    border-top: 2px dotted gray;
    z-index: 0;
}


.vertical-line {
    width: 2px;
    background-color: gray;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.vertical-line.down {
    height: 60px;
    top: 100%;
}

.vertical-line.up {
    height: 60px;
    bottom: 100%;
}

.timeline-year {
    font-weight: bold;
    font-size: 16px;
}

.timeline-description {
    margin-top: 10px;
    color: #4A5057;
    font-size: 14px;
    font-weight: 400;
}

.timeline-description:first-of-type {
    width: 200px;
}

.header-content-at {
    text-align: center;
    width: 1100px;
    margin: 0 auto;
}

.header-content-at p {
    color: #4A5057;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.header-content-aw {
    text-align: center;
    width: 1100px;
    margin: 0 auto;
}

.header-content-aw p {
    color: #4A5057;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

@media(max-width:765px) {
    .hero-section-8 {
        flex-direction: column-reverse;
        padding-left: 1rem;
    }

    .abtus-image {
        width: 100%;
    }

    .abtus-image img {
        width: 328px;
    }

    .hero-section-8-1 {
        flex-direction: column;
    }

    .hero-section-8-2 {
        flex-direction: column;
    }

    .content-aboutus {
        width: 100%;
        text-align: center;
    }

    .content-aboutus p {
        width: 340px;
        margin: 0 auto;
    }

    .timeline-container {
        width: 1600px;
    }

    .scroll-boxes2 {
        gap: 25px;
        padding: 10px 30px;
    }

    .abtus-image-1 img {
        padding: 0;
        width: 350px;
    }

    .header-content-at {
        width: 350px;
    }

    .header-content h2 {
        width: 350px;
    }

    .header-content-aw {
        width: 340px;
    }
}