.headerblog {
    width: 1100px;
    margin: 0 auto;
}

.headerblog h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    line-height: 66px;
    color: #454545;
}

.headerblog p {
    text-align: center;
    font-size: 14px;
    color: #777;
}

.tab-bg {
    background-color: #fafafa;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid #b30000;
}

.tab-bg:nth-child(1) {
    border-radius: 20px 0 0 20px;
}
.tab-bg:nth-child(5) {
    border-radius: 0 20px 20px 0;
  }

.tab-bg:hover{
    background-color: #f4bbbb;
}
.tab-bg.active {
    background-color: #b30000;
    color: #fff;
}
.articles-bg{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 1100px;
    margin: 1rem auto;
}

/* BlogSinglePage.css */

.singleblog-main-container{
    display: flex;
    justify-content: center;
    width: 1160px;
    margin: 4rem auto;
}
.singleblogcontentwrap{
    width: 75%;
}
/* .relatedblogcontentwrap{
    width: 20%;
} */
.single-blog-page h1{
    text-align: left;

}


.meta-info {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
}

.company-logo {
    height: 50px;
    margin-right: 10px;
}

.blog-image img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-top: 20px;
}

.blog-content {
    margin-top: 20px;
    line-height: 1.6;
}

.related-blogs {
    margin-top: 30px;
}

.related-blogs a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
}
