.hero-section-4{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    color: white;
    position: relative;
    overflow: hidden;
    width: 1300px;
}
.whatsappAPI-wrap-content{
    display: flex;
    justify-content: center;
    background-image: url("src/assets/Abstract.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content-whatsappAPI{
    max-width: 40%;
    margin-top: 3rem;
}
.content-whatsappAPI h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px;
    color: #144494;
}
.content-whatsappAPI p{
    font-size: 14px;
    line-height: 24px;
    margin-left: 2px;
    /* width: 64%; */
    margin-bottom: 5px;
    color: #144494;
}
.whatsappAPI-text{
    padding-bottom: 2rem;
}
.buttons {
    margin-bottom: 30px;
}

.contact-us {
    background-color: white;
    color: #b30000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 4px;
}
.whatsapprobot{
    width: 40%;
    padding-left: 9rem;
    padding-top: 1rem;
}
.whatsapprobot img {
    width: 360px;
}
/* card-feature-5 */

.feature5-wrap-container{
    display: flex;
    justify-content: center;
}
.whatsapp-platform-section{
    background-color: #f9f9f9;
}
.whatsapp-platform-header{
    text-align: center;
}
.whatsapp-platform-header h2{
    font-size: 32px;
    line-height: 54px;
    font-weight: 600;
    color: #454545;
    padding-top: 3rem;
}
.whatsapp-platform-header p{
    font-size: 15px;
    color: #353A40;
    font-family: 'DM Sans';
    line-height: 24px;
    font-weight: 400;
}
.feature5-cards-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1300px;
}
.feature5-cards-column{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 3rem;
}
.image-column-wp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.feature5-card{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    position: relative;
    transition: transform 0.3s;
}
.feature5-card:hover{
    transform: translateY(-5px);
}
.feature5-icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0;
}
.feature5-card-content{
    display: flex;
    flex-direction: column;
}
.feature5-card h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}
.feature5-card p{
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
}
.read-more-2{
    color: #0066cc;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}
.feature5-card:hover .read-more-2{
    opacity: 1;
}
.image-column-wp img{
    width: 382px;
}

/* feature7 css */

.feature7-wrap-container{
    display: flex;
    justify-content: center;
}

.feature7-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    justify-content: center;
    max-width: 1300px;
}

.feature7-card {
    /* background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 26%;
    min-width: 250px;
    margin-bottom: 20px;
}

/* .feature-card:nth-child(4),
.feature-card:nth-child(5) {
    width: 33%;
} */

.feature7-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0; /* Prevent the icon from shrinking */
}

.feature7-card-content {
    display: flex;
    flex-direction: column;
}

.feature7-card h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
    width: 85%;
}

.feature7-card p {
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
}

.read-more {
    color: #0066cc;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.read-more:hover {
    text-decoration: underline;
}

/* unique feature css */
.unique-wrap-feature{
    display: flex;
    justify-content: center;
}
.unique-feature-section {
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    background-color: #f9f9f9;
    width: 1300px;
}

.unique-feature-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 3rem;
}

.unique-feature-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
}

.unique-feature-list li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}
.unique-feature-list li p{
    font-size: 14px;
}
.unique-feature-list img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.unique-feature-list p {
    font-size: 16px;
    color: #666;
    margin: 0;
}

.unique-feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.unique-feature-image img {
    width: 380px;
    height: auto;
}