.hero-section-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    color: white;
    position: relative;
    overflow: hidden;
    width: 1300px;
}

.whatsappAPI-wrap-content {
    display: flex;
    justify-content: center;
    /* background-image: url("../../assets/Abstract.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}
.whatsapp-platform-section{
    background-color: #ffffff;
}

.content-whatsappAPI {
    width: 40%;
    margin-top: 3rem;
}

.content-whatsappAPI h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px;
    color: #144494;
    width: 380px;
}

.content-whatsappAPI p {
    font-size: 14px;
    line-height: 24px;
    margin-left: 2px;
    margin-bottom: 5px;
    color: #144494;
    width: 380px;
}

.whatsappAPI-text {
    padding-bottom: 2rem;
}

.buttons {
    margin-bottom: 30px;
}

.contact-us {
    background-color: white;
    color: #b30000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 4px;
}

.whatsapprobot {
    width: 40%;
    padding-top: 1rem;
    padding-left: 2rem;
}
.whatsapprobot img{
    width: 500px;
}


/* card-feature-5 */
.whatsapp-platform-header {
    text-align: center;
}

.whatsapp-platform-header h2 {
    font-size: 32px;
    line-height: 54px;
    font-weight: 600;
    color: #454545;
    padding-top: 3rem;
}

.whatsapp-platform-header p {
    font-size: 15px;
    color: #353A40;
    font-family: 'DM Sans';
    line-height: 24px;
    font-weight: 400;
    width: 1200px;
    margin: 0 auto;
}

.whatsapp-info-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

.whatsapp-info-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
}

.whatsapp-info-item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 48%;
    /* Adjust as needed */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* display: flex;
    align-items: flex-start; */
}
.whatsapp-info-r1{
    display: flex;
    flex-direction: row;
}

.whataspp-info-r1-c1 img {
    margin: 20px;
    margin-top: 5px;
}

.whatsapp-info-r1-c2 h3 {
    font-size: 18px;
    margin: 0;
    color: #001F47;
    margin-bottom: 8px;
}

.whatsapp-info-r1-c2 p {
    font-size: 14px;
    color: #4A5057;
    line-height: 24px;
}

.whatsapp-info-content img {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: block;
}

/* feature7 css */

.feature7-wrap-container {
    display: flex;
    justify-content: center;
}

.feature7-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    justify-content: center;
    max-width: 1300px;
}

.feature7-card {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 26%;
    min-width: 250px;
    margin-bottom: 20px;
}

/* .feature-card:nth-child(4),
.feature-card:nth-child(5) {
    width: 33%;
} */

.feature7-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0;
    /* Prevent the icon from shrinking */
}

.feature7-card-content {
    display: flex;
    flex-direction: column;
}

.feature7-card h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
    width: 85%;
}

.feature7-card p {
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
}

.read-more {
    color: #0066cc;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.read-more:hover {
    text-decoration: underline;
}

/* unique feature css */
.unique-wrap-feature {
    display: flex;
    justify-content: center;
}

.unique-feature-section {
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    background-color: #f9f9f9;
    width: 1300px;
}

.unique-feature-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 3rem;
}

.unique-feature-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 2rem;
}

.unique-feature-list li {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}

.unique-feature-list li p {
    font-size: 14px;
}

.unique-feature-list img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.unique-feature-list p {
    font-size: 16px;
    color: #666;
    margin: 0;
}

.unique-feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.unique-feature-image img {
    width: 380px;
    height: auto;
}

@media(max-width: 765px){
    .hero-section-4{
        flex-direction: column;
        padding-left: 1.5rem;
    }
    .content-whatsappAPI{
        width: 100%;
    }
    .content-whatsappAPI h1{
        width: 320px;
        font-size: 32px;
    }
    .content-whatsappAPI p{
        width: 320px;
    }
    .whatsapprobot{
        width: 100%;
        padding-left: 0;
    }
    .whatsapprobot img{
        width: 340px;
    }
    .whatsapp-platform-header h2{
        color: #000247;
        padding-top: 15px;
        line-height: 28px;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .header-content h2{
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        color: #000247;
    }
    .whatsapp-platform-header p{
        width: 320px;
        font-size: 16px;
    }
    .whatsapp-info-details{
        flex-direction: column;
        width: 330px;
    }
    .whatsapp-info-item{
        width: 100%;
    }
    .feature-content-container-1234 > section:nth-of-type(10) .feature-item-1234 {
        flex-direction: column-reverse;
    }
}