@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.product-section {
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to bottom, #f2f7ff -33%, #f2f7ff 167%);
}

.header-content-1 {
    text-align: center;
    margin-bottom: 20px;
}

.header-content-1 h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    color: #454545;
}

.header-content-1 p {
    font-size: 14px;
    color: #777;
}

.product-nav {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
    gap: 1.2rem;
}
.product-nav-line{
    position: absolute;
    bottom: -26%;
    border-bottom: 2px solid #ff9696;
    width: 65%;
    border-radius: 5px;
}

.product-nav a {
    text-decoration: none;
    color: #353a40;
    font-weight: bold;
    cursor: pointer;
    margin: 0 15px;
    padding: 10px 0;
    position: relative;
}

.product-nav a.active {
    color: #b30000;
}

.product-nav a.active::after {
    content: '';
    display: block;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    background-color: #b30000;
    position: absolute;
    bottom: -10.7px;
    left: 0;
}

.wrap-product-content {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

/* product content change */
.productvectorart1{
    position: absolute;
    left: 13.8%;
    border-radius: 8px 0 0 0;
}
.productvectorart2{
    position: absolute;
    left: 13.8%;
    bottom: 12.5%;
    border-radius: 0 0 0 8px;
}
.product-content {
    width: 885px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 34px rgba(0, 0, 0, 0.1);
}

.product-description {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.product-description h2 {
    font-size: 24px;
    color: #004498; /* Assuming this is the primary color */
    margin-bottom: 10px;
    font-family: 'DM Sans';
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 2%;
}

.product-description p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #4A5057; /* Assuming this is the text color */
    margin-bottom: 20px;
    width: 430px;
}

.product-description a {
    font-size: 16px;
    color: #004498; /* Assuming this is the primary color */
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.product-description a::after {
    content: ' \2192'; /* Unicode arrow character */
    margin-left: 5px;
}

.product-image {
    flex: 1;
    padding: 20px;
}

.product-image img {
    max-width: 100%;
    padding-left: 3rem;
    height: auto;
    display: block;
    margin: 0 auto;
}
