.contactus-text-section {
    background-color: #114DBB;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 3.5rem;
    padding-bottom: 2rem;
    width: 1300px;
}

.contactus-text-wrap {
    display: flex;
    justify-content: center;
}

.contact-us-content {
    text-align: justify;
    width: 80%;
}

.contact-us-content p {
    font-size: 14px;
    line-height: 24px;
}

.contact-us-content h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 10px;
}

/* form section */
.wrapping-form-section{
    display: flex;
    justify-content: center;
}
.form-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #f9f9f9;
}

.info-block {
    width: 37%;
    margin-right: 40px;
    padding-top: 3rem;
}

.contact-us-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.contact-us-item img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.info-block-content h3 {
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 5px;
    font-weight: 600;
}

.info-block-content a {
    color: #0360c4;
    text-decoration: none;
    font-weight: 600;
}

.info-block-content a:hover {
    text-decoration: underline;
}

.contact-us-form {
    width: 40%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-us-form h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    color: #101828;
    margin-bottom: 10px;
}

.contact-us-form p {
    color: #475467;
    margin-bottom: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* location section */

.wrap-locations-section{
    display: flex;
    justify-content: center;
}
.locations-section-container{
    max-width: 970px;
    width: 100%;
}
.locations-section {
    text-align: justify;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.locations-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.locations-section p {
    font-size: 16px;
    color: #555;
    margin-bottom: 40px;
}

.locations-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.location-card {
    background-color: #a32b44;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 473px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.location-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 10px;
}

.location-info h3 {
    font-size: 18px;
    margin: 0 0 5px;
}

.location-info p {
    color: white;
    margin: 5px 1px;
    font-size: 13px;
}

.location-info address {
    font-style: normal;
    margin: 5px 0;
    font-size: 14px;
}

.location-info a {
    color: #fff;
    text-decoration: underline;
}

.location-info a:hover {
    text-decoration: none;
}
.location-maps iframe {
    width: 980px;
    height: 300px;
    border: none;
    border-radius: 8px;
}