@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #fff, #ffffff);
    padding: 10px 50px;
    position: relative;
    flex-wrap: wrap;
}

.logo img {
    padding-right: 3rem;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
    position: relative;
}

.nav-item a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
}

.nav-item a:hover {
    color: #b30000;
}

.arrow img {
    height: 12px;
    width: 12px;
    margin-left: 2px;
}

.dropdown-content {
    padding-top: 1.5rem;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 620px;
    /* min-width: 160px; */
}

.dropdown-content-2 {
    display: none;
    padding-top: 1.5rem;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 410px;
}

.dropdown-content-block {
    display: flex;
    justify-content: space-evenly;
}

.dropdown-content-block-1 {
    width: 48%;

}

.dropdown-content-block-2 {
    width: 48%;
}

.dropdown-content-pr {
    display: flex;
    margin-bottom: 20px;
}

.dropdown-content-pr img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.content-text-pr p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 12px;
    width: 240px;
}

.content-text-pr a {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 5px;
    font-weight: 600;
    width: 271px;
}

/* .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
} */

.dropdown-content-pr img:hover {
    background-color: #f1f1f1;
}

/* .dropdown:hover .dropdown-content {
    display: block;
} */

.dropdown:hover .dropbtn {
    color: #b30000;
}

/* .nav-buttons  {
    padding: 10px 38px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    
} */

.activate-trial {
    background-color: white;
    color: #b30000;
    border: 2px solid #b30000;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 35px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.sign-in {
    color: white;
    background-color: #b30000;
    border-radius: 5px;
    padding: 11px 44px;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 700;
    border: none;
    cursor: pointer;
    text-decoration: none;
}


.dropdown-content {
    display: none;
    /* Existing styles */
}

.dropdown-content.show {
    display: block;
}

.dropdown-content-2.show {
    display: block;
}

/* mobile navbar */

.mobile-nav {
    display: none;
}

.mobile-nav,
.hamburger,
.mobile-buttons,
.mobile-header {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

/* For mobile */
@media (max-width: 765px) {

    .nav-items,
    .nav-buttons {
        display: none;
    }

    .navbar {
        justify-content: space-between;
        padding: 5px 17px;
    }

    /* Show hamburger menu for mobile */
    .hamburger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        padding: 10px;
    }

    /* Mobile nav menu header (Menu text and close button) */
    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
    }

    .mobile-header .menu-title {
        font-size: 18px;
        font-weight: bold;
    }

    .mobile-header{
        font-size: 24px; 
    }
    .close-btn{
        font-size: 30px;
        cursor: pointer;
        color: red;
    }

    /* Show mobile nav */
    .mobile-nav {
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    .mobile-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .mobile-nav ul li {
        padding: 10px 15px;
    }

    .mobile-nav ul li a {
        text-decoration: none;
        color: #000247;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
    }

    /* Show dropdown for mobile */
    .dropdown {
        display: none;
        padding-left: 20px;
        background-color: #ffffff;
    }

    .dropdown li {
        display: flex;
        justify-content: left;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    

    /* Show dropdown when toggled */
    .dropdown.show {
        display: block;
    }

    
    .mobile-buttons {
        display: block;
        text-align: center;
        position: relative;
        top: 280px;
    }

    .mobile-buttons a {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        border: 1px solid #d70000;
        color: white;
        background-color: #d70000;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        width: 80%;
        text-align: center;
    }

    .mobile-buttons a.sign-in {
        background-color: white;
        color: #d70000;
    }

    .mobile-buttons a.sign-in:hover {
        background-color: #d70000;
        color: white;
    }

}

