.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #114DBB; */
    color: #00306a;
    position: relative;
    overflow: hidden;
    width: 1400px;
}
.hero-wrap-section{
    display: flex;
    justify-content: center;
    background-image: url("../../../assets/Abstract.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content {
    width: 41%;
}

.content h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 10px;
}

.content p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
}

.buttons {
    margin-bottom: 30px;

}

/* .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 15px;
    color: #005bff;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
} */

/* .btn:hover {
    background-color: #e0e0e0;
} */

.request-demo {
    background-color: transparent;
    border: 2px solid #b30000;
    color: #b30000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 8px 20px;
    border-radius: 4px;
}

.talk-to-sales {
    background-color: #b30000;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 4px;
}
.talk-to-sales:hover{
    background-color: white;
    color: #114DBB;
    transition: all 0.5s;
}

.stats {
    display: flex;
    margin-top: 20px;
}

.stat {
    margin-right: 30px;
    border-right: 2px solid #00306a;
    padding-right: 2rem;
}
.stat:last-child{
    border-right: none;
}
/* .stat-wrap{
    display: flex;
    justify-content: space-between;
} */
.statbox{
    display: flex;
    justify-content: justify;
}

.number {
    font-size: 14px;
    font-weight: 700;
    display: flex;

}
.numbertext{
    font-size: 14px;
    font-weight: 700;
    display: flex;

}

.text {
    font-size: 12px;
    font-weight: 300;
}

.robot {
    width: 35%;
    padding-left: 1rem;
}

.robot img{
    width: 440px;
}
@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero-product-image {
    animation: slideUp 1s ease-out;
}

@media (max-width: 765px){
    .hero-section{
        flex-direction: column;
    }
    .content {
        width: 100%;
        padding-left: 1rem;

    }
    .robot{
        width: 100%;
    }
    .robot img{
        width: 340px;
    }
    .content p{
        width: 70%;
    }
    .stats{
        width: 100%;
    }
    .stat{
        margin-right: 10px;
        padding-right: 1rem;
    }
    .content h1{
        font-size: 32px;
    }
    .request-demo{
        padding: 8px 25px;
    }
    .talk-to-sales{
        margin-left: 15px;
        padding: 10px 30px;
    }
}