.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Enable scrolling if content is long */
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark background with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    width: 570px;
    background-color: white;
    border-radius: 8px;
    padding: 20px 20px 20px 20px;
    position: absolute;
}

.heading-job-wrapper {
    display: flex;
    justify-content: space-between;
    width: 520px;
}

.modal-content {
    max-height: 80vh;
    overflow-y: auto;
    padding: 0px 10px 10px 10px;
    position: relative;
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}

.modal-wrapper h2 {
    font-size: 18px;
    padding-left: 10px;
}

.modal-content p {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 5px;
}

.modal-content ul li {
    font-size: 14px;
    line-height: 20px;
}
.modal-content h3{
    padding-top: 1rem;
    font-size: 18px;
    line-height: 24px;
}

/* Close button */
.close {
    position: relative;
    top: -9px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.close:hover,
.close:focus {
    color: #b30000;
}

/* Form styling */
.application-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.application-form input,
.application-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.application-form textarea {
    min-height: 100px;
}

.application-form button {
    background-color: #b30000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.application-form button:hover {
    background-color: #0d346f;
}