
.contact-form-section {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    background-color: #ffffff;
}

.contact-content-block {
    flex: 1;
    padding: 20px;
    max-width: 600px;
}

.contact-content-block h2 {
    font-size: 34px;
    font-family: 'DM Sans';
    line-height: 52px;
    font-weight: 600;
    color: #454545;
    margin-bottom: 10px;
}

.contact-content-block p {
    font-size: 14px;
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 22px;
    color: #666567;
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-item {
    /* display: flex;
    align-items: flex-start;
    gap: 15px; */
    width: 48%;
}

.contact-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.contact-item h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #333;
    
}

.contact-item p {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.contact-item a, .contact-item address {
    font-size: 14px;
    font-weight: 600;
    color: #004b91;
    text-decoration: none;
    
}
.contact-item address{
    font-style: normal;
}

/* .content-block {
    width: 38%;
    padding: 20px;
    padding-top: 2rem;
    margin-right: 3rem;
    box-sizing: border-box;
    min-height: 600px;
} */
.form-block{
    width: 36%;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 7px 2px rgba(38, 113, 183, 0.1);
    background-color: #fff;
    /* min-height: 400px; */
    border-radius: 24px;
    margin-top: 1.8rem;
    max-width: 500px;
}

.form-block h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    color: #101828;
    margin-bottom: 10px;
}

.form-block p {
    color: #475467;
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 24px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-group {
    width: 48%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

input::placeholder{
    font-size: 12px;
    opacity: 70%;
    font-family: 'Montserrat';
}
textarea::placeholder{
    font-style: normal;
    font-size: 12px;
    opacity: 80%;
    font-family: 'Montserrat';
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.checkbox-group label {
    color: #333;
}

.checkbox-group a {
    color: #004b91;
    text-decoration: none;
}

.checkbox-group a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #b30000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* form button:hover {
    color: #004b91;
} */