.footer {
    background-color: #560000;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-logo img {
    border-radius: 5px;
    margin-left: 5rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo .logo {
    height: 55px;
    margin-right: 10px;
}

.footer-logo p {
    text-align: justify;
    font-size: 14px;
    line-height: 25px;
}

.footer-social a {
    margin-left: 20px;

}

.footer-social:last-child {
    margin-right: 4.2rem;
}

.footer-social img {
    width: 20px;
    height: 20px;
}

.footer-links {
    margin-top: 20px;
    padding-bottom: 12px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: justify;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
}

.footer-links :first-child {
    margin-left: 1.6rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
}

.footer-bottom p {
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer-line {
    border-bottom: 1px solid #FFFFFF;
    margin: 0 auto 10px;
    /* Center the line */
    width: 88%;
    /* Adjust the width as needed */
    margin-bottom: 20px;
}
.footer-ct-img{
    width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .footer-container {
        padding: 15px;
    }

    .footer-top {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 0;
    }

    .footer-logo {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .footer-logo img {
        position: relative;
        left: -65px;
        width: 100px;
        margin-bottom: 10px;
        margin-left: 0;
    }

    .footer-logo p {
        position: relative;
        left: 10px;
        font-size: 12px;
        line-height: 18px;
    }

    .footer-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-social a {
        margin: 10px;
    }

    .footer-links {
        position: relative;
        left: 10px;
    }
    .footer-links :first-child {
        margin: 0;
    }

    .footer-links ul {
        display: block;
        text-align: justify;
    }

    .footer-links ul li {
        margin: 10px 0;
    }

    .footer-bottom p {
        font-size: 12px;
        line-height: 18px;
        margin-left: 0;
    }

    .footer-line {
        width: 90%;
    }
    .footer-ct-img{
        flex-direction: column;
        width: 280px;
        align-items: flex-start; 
    }
    .ct-img-grp{
        padding-top: 10px;
    }
}