.hero-section-5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    color: white;
    position: relative;
    overflow: hidden;
    width: 1300px;
}
.SMSgateway-wrap-content{
    display: flex;
    justify-content: center;
    background-image: url("../../assets/Abstract.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.content-SMSgateway{
    max-width: 40%;
    margin-top: 3rem;
}
.content-SMSgateway h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px;
    color: #144494;
}
.content-SMSgateway p{
    font-size: 14px;
    line-height: 24px;
    margin-left: 2px;
    color: #144494;
    /* width: 64%; */
    margin-bottom: 5px;  
}
.SMSgateway-text{
    padding-bottom: 2rem;
}
.SMSrobot{
    width: 40%;
    padding-left: 9rem;
    padding-top: 1rem;
}
.SMSrobot img{
    width: 380px;
}



.SMSgateway-platform-section{
    background-color: #f9f9f9;
}
.SMSgateway-platform-header{
    text-align: center;
}
.SMSgateway-platform-header h2{
    font-size: 32px;
    line-height: 54px;
    font-weight: 600;
    color: #454545;
    padding-top: 3rem;
}
.SMSgateway-platform-header p{
    font-size: 15px;
    color: #353A40;
    font-family: 'DM Sans';
    line-height: 24px;
    font-weight: 400;
}
/* card-feature-8 */
.feature8-wrap-container{
    display: flex;
    justify-content: center;
}
.feature8-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    justify-content: center;
    max-width: 1300px;
}
.feature8-card {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 26%;
    min-width: 250px;
    margin-bottom: 20px;
}
.feature8-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0; 
}
.feature8-card-content {
    display: flex;
    flex-direction: column;
}

.feature8-card h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}
.feature8-card:nth-of-type(1) h3{
    width: 20%;
}
.feature8-card:nth-of-type(2) h3{
    width: 20%;
} 

.feature8-card p {
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
}

/* card-feature-9 */
.feature9-wrap-container{
    display: flex;
    justify-content: center;
}
.feature9-cards-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1300px;
}
.feature9-cards-column{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-top: 3rem;
}
.image-column-SMS{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    
}
.feature9-card{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    position: relative;
    transition: transform 0.3s;
}
.feature9-card:hover{
    transform: translateY(-5px);
}
.feature9-icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0;
}
.feature9-card-content{
    display: flex;
    flex-direction: column;
}
.feature9-card h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}
.feature9-card p{
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
}
.read-more-2{
    color: #0066cc;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}
.feature9-card:hover .read-more-2{
    opacity: 1;
}
.image-column-SMS img{
    width: 382px;
}
/* SMS-content-block */

.wrap-SMS-content-block{
    display: flex;
    justify-content: center;
    
}
.SMS-content-block{
    display: flex;
    justify-content: center;
    width: 1200px;
}
.SMS-content-block-col-1{
    width: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SMS-content-block-col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.SMS-content-block-col-2 h3{
    font-size: 33px;
    font-weight: 600;
    line-height: 54px;
    color: #454545;
}
.SMS-content-block-col-2 p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #4A5057;
}
.SMS-content-block-2{
    display: flex;
    justify-content: center;
    width: 1200px;
    padding: 4rem 0 4rem 0;
}
.SMS-content-block2-col-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%;
}
.SMS-content-block2-col-2{
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SMS-content-block2-col-2 img{
    width: 330px;
}
.SMS-content-block2-col-1 h3{
    font-size: 33px;
    font-weight: 600;
    line-height: 54px;
    color: #454545;
}
.SMS-content-block2-col-1 p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #4A5057;
}

.SMS-content-block-3{
    display: flex;
    justify-content: center;
    width: 1200px;
    padding-bottom: 4rem;
}
.SMS-content-block3-col-1{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SMS-content-block3-col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 41%;
}
.SMS-content-block3-col-2 h3{
    font-size: 33px;
    font-weight: 600;
    line-height: 54px;
    color: #454545;
}
.SMS-content-block3-col-2 p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #4A5057;
}
