.career-wrap-content {
    display: flex;
    justify-content: center;
    background-image: url("../../assets/careersbackground.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-section-9 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    /* padding-bottom: 3rem; */
    color: white;
    position: relative;
    overflow: hidden;
    width: 1300px;
}
.hero-section-10 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    /* padding-bottom: 3rem; */
    color: white;
    position: relative;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}

.content-career {
    width: 33%;
}

.content-career h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px;
    color: #144494;
}

.content-career p {
    font-size: 14px;
    line-height: 24px;
    margin-left: 2px;
    margin-bottom: 5px;
    color: #144494;
    padding-bottom: 20px;
}

.career-image {
    width: 50%;
}

.article1 {
    width: 300px;
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article1 img {
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.article1 h3 {
    font-weight: 700;
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 10px;
}

.article1 p {
    font-size: 14px;
    margin-bottom: 15px;
    color: #4A5057;
    font-weight: 300;
}

/* join Partner Button */
.wrapper-joinus {
    margin: 3rem 0;
}

.joinpartenerbox {
    background-image: url(../../assets/joinpartnerbackground.svg);
    background-position: center;
    border-radius: 20px;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 1rem;
    height: 260px;
}

.joinus-content {
    padding: 40px 0;
}

.joinpartenerbox h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: #fff;
}

.joinpartenerbox p {
    text-align: center;
    color: #fff;
    line-height: 24px;
    padding-bottom: 1rem;
}

.joinus-bt {
    color: #830000;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    cursor: pointer;
}

/* jobs section */

.featured-jobs-container {
    padding: 10px;
}

.header-filter-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-filter-row h2 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
}

.filter-dropdown label {
    margin-right: 10px;
    font-size: 16px;
}

.filter-dropdown select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.job-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.job-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.job-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.job-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #454545;
}

.job-card p {
    font-size: 14px;
    color: #4A5057;
    margin-bottom: 20px;
}

.job-card a {
    color: #B30000;
    text-decoration: none;
    font-weight: bold;
}

.job-card a:hover {
    text-decoration: underline;
}