@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.platform-section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 40px; */
    background-image: url(../../../assets/outerbkglayer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
}

.head-section-b2 {
    margin-top: 3rem;
    border: none;
    background-color: #E2ECFF;
    border-radius: 15px;
    color: #000247;
    font-size: 14px;
    padding: 10px 20px;
}

.wrap-platform-content {
    display: flex;
    justify-content: center;
    height: 500px;
}

.header-content {
    text-align: center;
}

.header-content h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    margin-bottom: 8px;
    color: #454545;
}

.header-content p {
    font-size: 14px;
    color: #777;
    line-height: 24px;
}

.content-block {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.content-block-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    padding-top: 3rem;
}

.content-item {
    display: flex;
    /* align-items: center; */
    margin-bottom: 20px;
}

.content-item img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.content-text h3 {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 24px;
    font-weight: 600;
}

.content-text p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #6c757d;
}

.get-in-touch {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-left: 6px;
    padding: 10px 20px;
    border-color: #b30000;
    border: 2px solid;
    color: #b30000;
    text-decoration: none;
    border-radius: 5px;
    align-self: flex-start;
}

.get-in-touch:hover {
    background-color: #b30000;
    color: #fff;
    transition: all 0.6ms ease;
}

.content-block-col-2 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block-col-2 img {
    width: 470px;
    /* max-width: 100%; */
    height: auto;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.image-slide-up {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.image-slide-up.visible {
    opacity: 1;
    transform: translateY(0);
}


/* content-2 css */
.platform-section-2{
    background-color: #F7FBFF;
}

.head-section-b3{
    margin-top: 3rem;
    margin-bottom: 0.8rem;
    border: none;
    background-color: #FDEFF0;
    border-radius: 15px;
    color: #000247;
    font-size: 14px;
    padding: 10px 20px;
}
.header-content-2{
    text-align: center;
}

.scroll-container {
    position: relative;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px 20px;
}

.scroll-boxes {
    display: flex;
    overflow-x: auto;
    gap: 25px;
    padding: 20px 40px;
    height: 380px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;

}

.scroll-boxes::-webkit-scrollbar {
    display: none;
}

.card {
    width: 300px;
    /* Fixed width for each card */
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 2px 7px 2px rgba(232, 115, 97, 0.2);
    transition: transform 0.3s ease;
    cursor: pointer;
    flex-shrink: 0;
    /* Prevent cards from shrinking */
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
.card-content img{
    align-self: flex-start;
    padding-bottom: 1rem;
}
.card:hover {
    transform: translateY(-10px);
}

.partner-logo {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.card-content h3 {
    align-self: flex-start;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #2a2a2a;
}

.card-content p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    /* Better readability */
}

/* Navigation buttons */
.scroll-btn {
    background-color: #FFCED2;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 8px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.scroll-btn.left {
    left: 30px;
}

.scroll-btn.right {
    right: 10px;
}

.scroll-btn:hover {
    background-color: #B30000;
}



.wrap-content-block-2 {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    width: 1200px;
    margin: 0 auto;
}


.content-block-2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-block-2-col-1 {
    width: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block-2-col-1 img {
    width: 480px;
    height: auto;
}

.content-block-2-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%;
}

.content-block-2-col-2 h3 {
    font-size: 33px;
    font-weight: 600;
    line-height: 54px;
    color: #454545;
}

.content-block-2-col-2 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #4A5057;
}

.explore-more-integration {
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    border: 2px solid #b30000;
    text-decoration: none;
    border-radius: 5px;
    align-self: flex-start;
    color: #b30000;
    margin-top: 1rem;
}

.explore-more-integration:hover {
    color: #fff;
    background-color: #b30000;
    transition: all ease 0.6ms;
}

/* content-3 css */

.content-block-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.testimonial-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    padding-top: 0;
    box-shadow: 0px 0px 10px 5px rgba(38, 113, 183, 0.1);
    margin-bottom: 20px;
    /* width: 100%; */
    width: 1000px;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 75%;
}

.testimonial-logo {
    width: 100px;
    height: 90px;
}

.testimonial-text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #4A5057;
    margin-left: 8px;
}

.author-info {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-left: 5px;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-info h4 {
    margin: 0;
    font-size: 16px;
}

.author-info p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #4A5057;
}

.case-study-link {
    color: #b30000;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 8px;
}

.case-study-link:hover {
    text-decoration: underline;
}

.readmorearrow {
    position: relative;
    top: 8px;
    padding-left: 5px;
}

.testimonial-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
}

.testimonial-image img {
    width: 224px;
    padding-top: 1rem;
}

.client-logos {
    display: flex;
    justify-content: space-around;
    width: 1050px;

}

.client-logo-container {
    background-color: #fff;
    /* height: 80px;
    width: 344px; */
    border-radius: 10px;
    padding-top: 0;
    padding: 0 95px;
    box-shadow: 0px 0px 10px 5px rgba(38, 113, 183, 0.1);
}

.client-logo-container img {
    width: 90px;
}


/* platform-section-3 */
.platform-section-3{
    background-image: url(../../../assets/outerbkglayer2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
}

.tabs-container {
    text-align: center;
    padding: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: white;
    border: 1px solid #b30000;
    border-radius: 5px;
    padding: 10px 45px;
    margin: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
    background-color: #b30000;
    color: white;
}

.tab-button:hover {
    background-color: #b30000;
    color: white;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1100px;
    margin: 0 auto;
}

.logos img {
    max-width: 130px;
    margin: 20px;
}

.tab-stat-container {
    width: 1038px;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.tab-stats {
    background-image: url('../../../assets/tab-stats-background.svg');
    background-position: center;
    padding: 20px 0;
    margin: 2rem;
    margin-bottom: 0;
    box-shadow: 0px 0px 7px 2px rgba(38, 113, 183, 0.1);
}

.stat-flex-box {
    display: flex;
    justify-content: center;
}

.stat-flex-box-1 {
    display: flex;
}

.stat-flex-box-2 {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.tab-stats-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-stats-content {
    text-align: center;
    color: #333;
}

.tab-stats-content h3 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

.tab-stats-content p {
    font-size: 1em;
    margin: 0;
    padding-top: 8px;
    color: #666;
}