@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.platform-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 40px; */
    background-image: linear-gradient(to bottom, #f2f7ff -13%, #fff 167%);
}

.wrap-platform-content {
    display: flex;
    justify-content: center;
    height: 500px;
}

.header-content {
    text-align: center;

}

.header-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 3rem;
}

.header-content p {
    color: #6c757d;
}

.content-block {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.content-block-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    padding-top: 3rem;
}

.content-item {
    display: flex;
    /* align-items: center; */
    margin-bottom: 20px;
}

.content-item img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.content-text h3 {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 24px;
    font-weight: 600;
}

.content-text p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #6c757d;
}

.get-in-touch {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
    padding: 10px 20px;
    border-color: #004498;
    border: 2px solid;
    color: #004498;
    text-decoration: none;
    border-radius: 5px;
    align-self: flex-start;
}

.get-in-touch:hover {
    background-color: #004498;
    color: #fff;
    transition: all 0.6ms ease;
}

.content-block-col-2 {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block-col-2 img {
    width: 510px;
    /* max-width: 100%; */
    height: auto;
    position: relative;
    top: -40px;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.image-slide-up {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.image-slide-up.visible {
    opacity: 1;
    transform: translateY(0);
}


/* content-2 css */


.wrap-content-block-2 {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    max-width: 1200px;
}


.content-block-2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-block-2-col-1 {
    width: 56%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-block-2-col-1 img {
    width: 480px;
    height: auto;
}

.content-block-2-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42%;
}

.content-block-2-col-2 h3 {
    font-size: 33px;
    font-weight: 600;
    line-height: 54px;
    color: #454545;
}

.content-block-2-col-2 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #4A5057;
}

.explore-more-integration {
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 600;
    border: 2px solid #004498;
    text-decoration: none;
    border-radius: 5px;
    align-self: flex-start;
    color: #004498;
    margin-top: 1rem;
}

.explore-more-integration:hover {
    color: #fff;
    background-color: #004498;
    transition: all ease 0.6ms;
}

/* content-3 css */

.content-block-3 {
    /* background-color: #f7fafe;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.testimonial-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    padding-top: 0;
    box-shadow: 0px 0px 10px 5px rgba(38, 113, 183, 0.1);
    margin-bottom: 20px;
    /* width: 100%; */
    width: 1000px;
}

.testimonial-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 75%;
}

.testimonial-logo {
    width: 100px;
    height: 90px;
}

.testimonial-text p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #4A5057;
    margin-left: 8px;
}

.author-info {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-left: 5px;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-info h4 {
    margin: 0;
    font-size: 16px;
}

.author-info p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #4A5057;
}

.case-study-link {
    color: #034e9e;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 8px;
}

.case-study-link:hover {
    text-decoration: underline;
}

.testimonial-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
}

.testimonial-image img {
    width: 224px;
    padding-top: 1rem;
}

.client-logos {
    display: flex;
    justify-content: space-around;
    width: 1050px;

}

.client-logo-container {
    background-color: #fff;
    /* height: 80px;
    width: 344px; */
    border-radius: 10px;
    padding-top: 0;
    padding: 0 95px;
    box-shadow: 0px 0px 10px 5px rgba(38, 113, 183, 0.1);
}

.client-logo-container img{
    width: 90px;
}

.tabs-container {
    text-align: center;
    padding: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    background-color: white;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 45px;
    margin: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
    background-color: #0056b3;
    color: white;
}

.tab-button:hover {
    background-color: #0056b3;
    color: white;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logos img {
    max-width: 130px;
    margin: 20px;
}


.tab-stats {
    background-image: url('../../../assets/tab-stats-background.svg');
    /*path for background image */
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    margin: 2rem;
    box-shadow: 0px 0px 7px 2px rgba(38, 113, 183, 0.1);
}

.stat-flex-box {
    display: flex;
    justify-content: center;
}

.stat-flex-box-1 {
    display: flex;
}

.stat-flex-box-2 {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.tab-stats-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab-stats-content {
    text-align: center;
    color: #333;
}

.tab-stats-content h3 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

.tab-stats-content p {
    font-size: 1em;
    margin: 0;
    padding-top: 8px;
    color: #666;
}