.hero-section-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
    color: white;
    position: relative;
    overflow: hidden;
    width: 1300px;
}
.hero-wraping-content{
    display: flex;
    justify-content: center;
    background-image: url("src/assets/Abstract.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-chatbot {
    width: 40%;
    margin-top: 3rem;
    
}

.content-chatbot h1 {
    color: #144494;
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 20px;
}

.content-chatbot p {
    font-size: 14px;
    line-height: 24px;
    margin-left: 2px;
    margin-bottom: 5px;
}
.chatbot-text{
    color: #144494;
    padding-bottom: 2rem;
}

.buttons {
    margin-bottom: 30px;
}

.contact-us {
    border: 2px solid #b30000;
    color: #b30000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 4px;
}

.chatrobot {
    width: 40%;
    margin-top: 3.2rem;
    padding-left: 7rem;
}

.chatrobot img {
    /* width: 100%; */
    width: 400px;
}

/* platform-content css */
.chatbot-platform-section{
    background-color: #f9f9f9;
}
.chatbot-platform-header{
    text-align: center;
}
.chatbot-platform-header h2{
    font-size: 32px;
    line-height: 54px;
    font-weight: 600;
    color: #454545;
    padding-top: 3rem;
}
.chatbot-platform-header p{
    font-size: 15px;
    color: #353A40;
    font-family: 'DM Sans';
    line-height: 24px;
    font-weight: 400;
}

/* .Rectangle-34625029 {
    display: flex;
    position: relative;
    width: 46.6px;
    right: -90%;
    height: 45.8px;
    margin: 0 19.3px 12px 0;
    transform: rotate(-284.21deg);
    opacity: 0.1;
    border: solid 6px #2369f6;
}
.Rectangle-34625030 {
    display: flex;
    position: absolute;
    right: 5%;
    top: 108%;
    width: 40.6px;
    height: 39.8px;
    flex-grow: 0;
    margin: 18px 0 0 25.3px;
    transform: rotate(-284.21deg);
    opacity: 0.08;
    border: solid 6px #4883f8;
} */

/* card-feature */

.feature-wrap-container{
    display: flex;
    justify-content: center;
}

.feature-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    justify-content: center;
    max-width: 1300px;
}

.feature-card {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 26%;
    min-width: 250px;
    margin-bottom: 20px;
}

.feature-card:nth-child(4),
.feature-card:nth-child(5) {
    width: 33%;
}

.feature-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0; 
}

.feature-card-content {
    display: flex;
    flex-direction: column;
}

.feature-card h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
}

.read-more {
    color: #0066cc;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.read-more:hover {
    text-decoration: underline;
}

/* card-feature-2 */

.feature2-wrap-container{
    display: flex;
    justify-content: center;
}

.feature2-cards-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1300px;
}
.feature2-cards-column{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.image-column-cb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.feature2-card{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    position: relative;
    transition: transform 0.3s;
}
.feature2-card:hover{
    transform: translateY(-5px);
}
.feature2-icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0;
}
.feature2-card-content{
    display: flex;
    flex-direction: column;
}
.feature2-card h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}
.feature2-card p{
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
}
.read-more-2{
    color: #0066cc;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}
.feature2-card:hover .read-more-2{
    opacity: 1;
}
