.hero-section-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    color: white;
    position: relative;
    overflow: hidden;
    width: 1300px;
}
.wrap-customer-content{
    display: flex;
    justify-content: center;
    background-image: url("../../assets/Abstract.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.content-CustomerEngagement {
    width: 33%;
}

.content-CustomerEngagement h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
    margin-bottom: 20px;
    color: #144494;
    width: 440px;
}

.content-CustomerEngagement p {
    font-size: 14px;
    line-height: 24px;
    margin-left: 2px;
    margin-bottom: 5px;
    font-weight: 500;
    color: #144494;
    width: 440px;
}
.CustomerEngagement-text{
    padding-bottom: 2rem;
}

.buttons {
    margin-bottom: 30px;
}

.contact-us {
    background-color: white;
    color: #b30000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 4px;
}

.Customerrobot {
    width: 50%;
    padding-top: 2rem;
}
/* platform section */

.customer-platform-section{
    background-color: #f9f9f9;
}
.customer-platform-header{
    text-align: center;
}
.customer-platform-header h2{
    font-size: 34px;
    line-height: 54px;
    font-weight: 600;
    color: #454545;
    padding-top: 3rem;
}
.customer-platform-header p{
    font-size: 14px;
    color: #4A5057;
    line-height: 24px;
    font-weight: 400;
}


/* card-feature */

.feature3-wrap-container{
    display: flex;
    justify-content: center;
}

.feature3-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    justify-content: center;
    max-width: 1300px;
}

.feature3-card {
    /* background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 30%;
    margin-bottom: 20px;
}
.feature3-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0;
}

.feature3-card-content {
    display: flex;
    flex-direction: column;
}

.feature3-card h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}

.feature3-card p {
    font-size: 14px;
    color: #666;
    margin: 0;
    line-height: 20px;
    margin-bottom: 20px;
}

.read-more {
    color: #0066cc;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.read-more:hover {
    text-decoration: underline;
}
/* feature-4 */

.feature4-wrap-container{
    display: flex;
    justify-content: center;
}

.feature4-cards-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1300px;
}
.feature4-cards-column{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.image-column-ce{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.feature4-card{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    position: relative;
    transition: transform 0.3s;
}
.feature4-card:hover{
    transform: translateY(-5px);
}
.feature4-icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    flex-shrink: 0;
}
.feature4-card-content{
    display: flex;
    flex-direction: column;
}
.feature4-card h3{
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}
.feature4-card p{
    font-size: 14px;
    color: #666;
    margin: 0;
    margin-bottom: 20px;
}
.read-more-2{
    color: #0066cc;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    position: absolute;
    bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}
.feature4-card:hover .read-more-2{
    opacity: 1;
}
.image-column img{
    max-width: 100%;
    height: auto;
}

@media(max-width:765px){
    .hero-section-3{
        flex-direction: column;
        padding-left: 1.5rem;
    }
    .content-CustomerEngagement{
        width: 100%;
    }
    .content-CustomerEngagement h1{
        width: 340px;
        font-size: 32px;
        line-height: 40px;
    }
    .content-CustomerEngagement p{
        width: 320px;
    }
    .Customerrobot{
        width: 100%;
    }
    .Customerrobot img{
        width: 330px;
    }
    .customer-platform-header h2{
        color: #000247;
        padding-top: 15px;
        line-height: 28px;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .customer-platform-header p{
        width: 320px;
        font-size: 16px;
        margin: 0 auto;
    }
    .feature3-card{
        width: 100%;
        margin: 0;
        padding-bottom: 0;
    }
    .feature4-cards-container{
        flex-direction: column;
        width: 100%;
    }
    .feature4-cards-column{
        width: 100%;
    }
    .image-column-ce{
        width: 100%;
    }
    .image-column-ce img{
        width: 328px;
    }
}
